## **7. Frequency Distribution**

---

***Importing the Required Modules(Numpy and Pandas)***

In [ ]:
import numpy as np
import pandas as pd

***Finding the Frequency in the Array***

In [ ]:
data = pd.Series([1, 1, 1, 2, 3, 3, 3, 3, 4, 4, 5])
data.value_counts()#value_counts() is used for finding the count of the element

3    4
1    3
4    2
5    1
2    1
dtype: int64

***Creating a Datasets***

In [ ]:
df = pd.DataFrame({'NAME': ['A','B','C','D','E','F','G','H','I','J'],
                   'GRADE': ['A','A','A','B','B', 'B', 'B', 'C', 'D', 'D'],
                   'GENDER': ['M','M', 'F', 'F', 'F', 'M', 'M', 'F', 'M', 'F']})
df

  NAME GRADE GENDER
0    A     A      M
1    B     A      M
2    C     A      F
3    D     B      F
4    E     B      F
5    F     B      M
6    G     B      M
7    H     C      F
8    I     D      M
9    J     D      F

***Finding Frequency for the 'GRADE'***

count() is used to count the number of observations across the given axis

In [ ]:
count = df['GRADE'].value_counts()
print(count)

B    4
A    3
D    2
C    1
Name: GRADE, dtype: int64

***Finding Frequency for the 'GENDER'***

In [ ]:
count = df['GENDER'].value_counts()
print(count)

F    5
M    5
Name: GENDER, dtype: int64

***Using the groupby() Method :***

A groupby operation involves splitting the object, applying a function, and combining the results

In [ ]:
count = df.groupby(['GRADE']).count()#
print(count)

       NAME  GENDER
GRADE
A         3       3
B         4       4
C         1       1
D         2       2

In [ ]:
count = df.groupby(['GENDER']).count()
print(count)

        NAME  GRADE
GENDER
F          5      5
M          5      5

In [ ]:
count = df.groupby(['GRADE', 'GENDER']).size() #size() function count the number of elements along a given axis
print(count)

GRADE  GENDER
A      F         1
       M         2
B      F         2
       M         2
C      F         1
D      F         1
       M         1
dtype: int64