***8. Averages***

1. *Import pandas module*
2. *Import Numpy module*

In [ ]:
import numpy as np
import pandas as pd

***Construct a data table using DataFrame***

In [ ]:
data = {'Student' : ['A','B','C','D','E'],'Mark':[29,26,28,30,30], 'Subject':['Maths','Maths','Maths','Maths','Maths']}
x = pd.DataFrame(data)
print(x)

  Student  Mark Subject
0       A    29   Maths
1       B    26   Maths
2       C    28   Maths
3       D    30   Maths
4       E    30   Maths

***Using Mean Method to find Averages:***

In [ ]:
print("Average",(x.mean()))

Average Mark    28.6
dtype: float64

In [ ]:
print(x.mean(axis = 1),'\n') #Averages in a column
print(x.mean(axis = 0))      #Averages (Total / no. of objects)

0    29.0
1    26.0
2    28.0
3    30.0
4    30.0
dtype: float64

Mark    28.6
dtype: float64

***`Using Larger Sets to calculate Mean:`***

In [ ]:
print('                CIA-1\n')
data = {'Student' : ['Annish','Bishma','Carter','Disha','Enophy'],
        'OOPS': [70,59,69,67,78],
        'DAA': [80,81,79,67,70],
        'FDS': [59,89,70,89,60],
        'DM': [90,70,60,19,60],
        'OS': [70,75,80,45,67]}
data['Total'] = x.sum(axis=1)
x = pd.DataFrame(data, index = ['1','2','3','4','5'])
print(x,'\n','\nAverages:','\n')
print((x.mean()))

                CIA-1

  Student  OOPS  DAA  FDS  DM  OS  Total
1  Annish    70   80   59  90  70    369
2  Bishma    59   81   89  70  75    374
3  Carter    69   79   70  60  80    358
4   Disha    67   67   89  19  45    287
5  Enophy    78   70   60  60  67    335

Averages:

OOPS      68.6
DAA       75.4
FDS       73.4
DM        59.8
OS        67.4
Total    344.6
dtype: float64