## **13. Variability**

**Import Numpy and Pandas Module**

In [1]:
import numpy as np
import pandas as pd

In [3]:
#Convert Seires into Dataframe
a={'student': ['A','B','C','D','E','F','G','H','I','J'],   'sex':['Male','Male','Female','Male','Male','Male','Female','Male','Male','Female'],
   'Tamil':[70,80,90,55,65,79,80,87,92,95],
   'English':[70,99,70,89,60,80,75,49,79,89],
   'Maths':[68,90,89,97,99,100,58,90,69,87],
   'Science':[80,81,68,96,79,58,62,81,68,58],
   'Social':[90,99,70,65,59,83,78,79,73,99]}
b=pd.DataFrame(a)  
print(b)

  student     sex  Tamil  English  Maths  Science  Social
0       A    Male     70       70     68       80      90
1       B    Male     80       99     90       81      99
2       C  Female     90       70     89       68      70
3       D    Male     55       89     97       96      65
4       E    Male     65       60     99       79      59
5       F    Male     79       80    100       58      83
6       G  Female     80       75     58       62      78
7       H    Male     87       49     90       81      79
8       I    Male     92       79     69       68      73
9       J  Female     95       89     87       58      99

Calculate Variance, Standared Deviation, and Mean using Inbuilt Function

In [9]:
#Subject Wise Variance 
VAR = b.var()
VAR

Tamil      162.677778
English    216.666667
Maths      212.011111
Science    151.433333
Social     183.166667
dtype: float64

In [7]:
#Subject Wise Standared Deviation 
STD = b.std()
STD

Tamil      12.754520
English    14.719601
Maths      14.560601
Science    12.305825
Social     13.533908
dtype: float64

In [12]:
#Subject Wise Mean
M = b.mean()
M

Tamil      79.3
English    76.0
Maths      84.7
Science    73.1
Social     79.5
dtype: float64

In [14]:
#Mean Vs Vaiance Vs Standard Deviation
com=pd.DataFrame()  
com['Mean']=M
com['Variance']=VAR
com['Standard Deviation']=STD
com

         Mean    Variance  Standard Deviation
Tamil    79.3  162.677778           12.754520
English  76.0  216.666667           14.719601
Maths    84.7  212.011111           14.560601
Science  73.1  151.433333           12.305825
Social   79.5  183.166667           13.533908

We can use the default function named **describe** for print range,minimum, maximum,mean,etc..

In [5]:
b.describe()

          Tamil    English       Maths    Science     Social
count  10.00000  10.000000   10.000000  10.000000  10.000000
mean   79.30000  76.000000   84.700000  73.100000  79.500000
std    12.75452  14.719601   14.560601  12.305825  13.533908
min    55.00000  49.000000   58.000000  58.000000  59.000000
25%    72.25000  70.000000   73.500000  63.500000  70.750000
50%    80.00000  77.000000   89.500000  73.500000  78.500000
75%    89.25000  86.750000   95.250000  80.750000  88.250000
max    95.00000  99.000000  100.000000  96.000000  99.000000